* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(images/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

h1,
h3 {
  font-family: 'Merriweather', serif;
  color: #f6426d;
  padding: 1rem 0;
}

p {
  font-family: 'Noto Serif', serif;
}

h3 {
  color: #A10035;
  font-size: calc(1.375rem + 1.5vw);
}

hr {
  height: 3px;
  border-width: 0;
  color: #A10035;
  background-color: #A10035
}

mark {
  transition: 0.5s;
}

mark:hover {
  color: #A10035;
}

/* -------------- navigation bar --------------- */

.navbar {
  background-color: #f6426d;
  box-shadow: 0 -17px 30px 15px rgba(0, 0, 0, 1);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.navbar-toggler {
  font-size: 1rem;
  color: #000;
  border: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.logo {
  width: 84px;
}

/* --------------- Home Page ----------------- */

.container {
  width: 80%;
  margin: auto;
  padding-top: 2%;
}

.text-color {
  color: #fff;
}

.calendar {
  display: inline-block;
  height: 1em;
  width: auto;
  line-height: 1;
  vertical-align: -0.15em;
}

.log1 {
  margin-top: 10%;
}

.heading {
  width: 25%;
  margin: auto;
  padding: 1rem;
}

.title {
  font-size: 7rem;
}

.title2 {
  font-size: 2rem;
  color: #f6426d;
  margin-top: -2rem;
  text-align: right;
}

#demo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  border: 2px solid #f6426d;
  width: 35%;
  margin: auto;
  padding: 10px;
}

.btn {
  color: #fff;
  background-color: #f6426d;
  font-weight: 700;
  padding: 9px 69px 10px;
  margin: 2%;
  border: none;
  border-radius: 0;
  transition: 0.5s;
}

.btn:hover {
  background-color: #ed1346;
}

/* Social Icons */

.social-icons .fab {
  font-size: 44px;
  padding: 24px 8px;
}

.social-icons a {
  border-radius: 5px;
  background: #FFC4C4;
  padding: 2rem 1rem 1rem;
  margin: 1rem;
}

.fa-facebook {
  color: rgb(66, 103, 178);
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-twitter {
  color: rgb(29, 161, 242);
}

/* ------------- Marquee ---------- */

.marquee {
  background-color: #ed1346;
  padding: 0.7rem;
  font-size: 1.8rem;
  color: #fff;
}

marquee {
  height: 3rem;
  padding: 0.6rem;
}

/* ------------ About ------------ */

.short-title i {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: justify;
}


/* ------------ Call for Paper ------------ */

.event {
  text-align: left;
  font-size: 1rem;
  color: #A10035;
}

.tags {
  display: block;
  text-align: justify;
  font-style: normal;
}

.tags1,
.tags2,
.tags3,
.tags4,
.tags5,
.tags6,
.tags7 {
  background: #e1c79a;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 10px;
  margin: 3px 0;
  border-radius: 5px 10px 5px 10px;
  display: inline-block;
  transition: 0.5s;
}

.tags1:hover,
.tags2:hover,
.tags3:hover,
.tags4:hover,
.tags5:hover,
.tags6:hover,
.tags7:hover {
  background-color: #F6426D;
  color: #faf5e4;
}

.submit-heading {
  width: 100%;
  margin: auto;
}


/* ------------ Sponsors ------------ */

.container2 {
  background-color: #FFE7BF;
  padding-bottom: 2%;
}

.sponsor-team {
  width: 30%;
  display: inline-block;
  background-color: aliceblue;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  padding: 18px;
  margin: 24px 18px;
  text-align: center;
}

.sponsors-img {
  width: 250px;
  border-radius: 16px;
}


/* ------------- Scope -------------- */

.scope {
  background-color: #FFC4C4;
  padding: 24px;
}

.short-title {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

a:hover {
  color: #fff;
}

/*  Abstract Section */

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

.section2 {
  width: 50%;
  margin: auto;
}

mark {
  color: #ed1346;
  background: none;
}

table {
  width: 100%;
}

.table {
  width: 100%;
  border: 0.5px solid #000;
}

thead {
  font-size: 1rem;
  background-color: #FF869E;
  color: #fff;
}

tbody {
  background-color: #faf5e4;
  font-size: 1rem;
}

table,
th,
td {
  border: 1.5px solid #000;
  border-collapse: collapse;
  padding: 10px;
}

/* Speakers */

.core-team {
  width: 40%;
  display: inline-block;
  background-color: aliceblue;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  padding: 24px;
  margin: 24px;
  text-align: center;
}


/* REGISTRATION FEES */

.dark {
  background-color: #FFC4C4;
  padding: 24px;
  border: 2px solid;
  border-radius: 16px;
}

.dark2,
.dark3 {
  border: 2px solid;
  margin: 2% 0;
  padding: 24px;
  border-radius: 16px;
}

h2 {
  color: #A10035;
  font-weight: bolder;
}

h4 {
  color: #A10035;
  padding: 1%;
  font-size: 1.4rem;
}

.bank-details,
.events {
  text-align: left;
  width: 100%;
  margin: auto;
  font-size: 1.2rem;
  color: #A10035;
  padding: 2%;
}


/* ------------- Committee ------------- */

.director {
  width: 50%;
}

.convenors {
  display: inline-block;
  list-style: none;
  margin: 2rem;
  text-align: center;
}

label {
  width: 100%;
  text-align: left;
  padding: 1rem;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  display: block;
}

.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: left;
  transition: height .4s ease;
  background-color: #FFE7BF;
  margin: 0;
}

.slide li {
  padding: 0;
  background-color: transparent;
}

#touch,
#touch1,
#touch2,
#touch3 {
  position: absolute;
  opacity: 0;
  height: 0;
}

#touch:checked+.slide,
#touch1:checked+.slide,
#touch2:checked+.slide,
#touch3:checked+.slide {
  height: auto;
  padding: 2rem;
}

.dropdown {
  width: 100%;
  background-color: #FF869E;
  border: 1px solid #ed1346;
  padding: 0.5 0;
  margin-bottom: 2%;
  position: inherit;
  transition: 0.5s;
}

.dropdown:hover {
  background-color: #f3708a;
}


/* How to reach Rourkela */

.dark3 {
  background-color: #f6426d;
}

.travel {
  text-align: left;
  background-color: #f6426d;
}

.travel li {
  display: inline-block;
  padding: 12px;
  margin: 0;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
}

.fab {
  padding-left: 1rem;
}

/* --------------- contact us page -------------- */

.location {
  width: 90%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 90%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fas {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-top: 5px;
  color: #ed1346;
  font-weight: 400;
}

input,
textarea {
  background-color: transparent;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 17px;
  outline: none;
  border: 2px solid #A10035;
  box-sizing: border-box;
}

::placeholder {
  color: #A10035;
}

@media(max-width: 800px) {

  .container {
    width: 100%;
  }

  h1,
  h3 {
    font-size: 2.5rem;
  }

  p {
    font-family: 'Noto Serif', serif;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .nav-link {
    color: #fff;
    font-size: 1rem;
  }

  .logo {
    width: 80px;
    padding: 0;
    margin: 0;
  }

  /* --------------- Home Page ----------------- */

  .log1 {
    margin-top: 10rem;
  }

  .heading {
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .title {
    font-size: 5rem;
  }

  .title2 {
    font-size: 2.5rem;
    width: 50%;
    margin: auto;
    margin-top: -2rem;
    text-align: right;
  }

  #demo {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .btn {
    width: 90%;
    color: #fff;
    background-color: #f6426d;
    font-weight: 700;
    padding: 9px 45px 10px;
    margin: 2%;
    border: none;
    border-radius: 0;
    transition: 0.5s;
  }

  .btn:hover {
    background-color: #ed1346;
  }

  /* Social Icons */

  .social-icons .fab {
    font-size: 22px;
    padding: -1px;
  }

  .social-icons a {
    border-radius: 5px;
    background: #FFC4C4;
    padding: 13px;
    margin: 4px;
  }

  /* ------------- Marquee ---------- */

  .marquee {
    height: 3rem;
  }

  marquee {
    font-size: 1rem;
    padding-top: 0.7rem;
    font-weight: 100;
  }

  .events {
    width: 90%;
    margin: auto;
    font-size: 1rem;
  }

  .event1 {
    padding: 15px;
  }


  /* ------------ Sponsors ------------ */

  .sponsor-team {
    width: 60%;
    padding: 18px;
    margin: 7px 18px;
    text-align: center;
  }

  .sponsors-img {
    width: 170px;
  }

  /* ------------- Scope -------------- */

  .scope {
    padding: 24px 0;
  }

  .head-title {
    font-size: 1.65rem;
  }

  .short-title {
    width: 100%;
    font-size: 0.9rem;
    padding: 2% 5%;
  }

  /*  Abstract Section */

  .section {
    display: block;
    padding: 0;
  }

  .section2 {
    width: 100%;
  }

  .section2 p {
    padding-top: 5%;
  }

  .table {
    width: 90%;
    margin: auto;
  }

  th {
    font-size: 0.67rem;
  }

  td {
    font-size: 0.6rem;
  }

  table,
  th,
  td {
    border: 0.5px solid #000;
    border-collapse: collapse;
    padding: 8px;
  }

  /* Speakers */

  .core-team {
    width: 47%;
    padding: 0;
    margin: 0 1px 12px 1px;
  }

  .core-team h5 {
    font-size: 0.9rem;
  }

  .core-team h6 {
    font-size: 0.7rem;
  }


  /* REGISTRATION FEES */

  .dark {
    padding: 0;
    border: 1px solid #000;
    border-radius: 0px;
  }

  .dark2,
  .dark3 {
    border: 2px solid;
    margin: 2% 0;
    padding: 24px;
    border-radius: 0;
  }

  h2 {
    color: #A10035;
    font-weight: bolder;
  }

  h4 {
    padding: 0;
    font-size: 1rem;
  }

  .bank-details {
    text-align: left;
    width: 100%;
    margin: auto;
    font-size: 0.9rem;
    color: #A10035;
    padding: 4%;
  }


  /* Committee */

  .director {
    width: 100%;
  }

  .slide li {
    font-size: 0.8rem;
  }

  .dropdown {
    position: inherit;
  }


  /* How to reach Rourkela */

  .dark3 {
    background-color: #f6426d;
  }

  /* Footer */

  .footer {
    display: block;
    text-align: center;
    padding: 1rem;
  }

  .footer h6 {
    padding: 1rem 0;
  }

  .fab {
    padding-left: 1rem;
  }

  /* Contact Page */

  .location {
    width: 100%;
    margin: auto;
    padding: 20px 0;
  }

  .contact-us {
    width: 100%;
    margin: auto;
  }

  .contact-col {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .contact-col div .fas {
    font-size: 22px;
    color: #f44336;
    margin-top: 0px;
    margin-right: 30px;
  }

  .contact-col div p {
    padding: 0;
  }

  .contact-col div h5 {
    font-size: 18px;
    margin-top: 5px;
    color: #ed1346;
    font-weight: 400;
  }

  input,
  textarea {
    background-color: transparent;
  }

  .contact-col input,
  .contact-col textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 17px;
    outline: none;
    border: 2px solid #A10035;
    box-sizing: border-box;
  }

  ::placeholder {
    color: #A10035;
  }

}


/* -------- Animation -------- */

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease-out;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 0.5s ease-in;
}

.active.fade-right {
  animation: fade-right 0.5s ease-in;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@media screen and (max-width: 800px) {
  .tags {
    text-align: center;
  }
}

/* Scientific Photography */

main {
  display: flex;
  margin: 2% 0;
}

.sci-1 {
  width: 421px;
  height: fit-content;
  margin: 1rem 1rem 1rem 6rem;
}

.content {
  flex: 1;
  padding: 0 3rem 0 0;
  margin: 1rem 0;
  text-align: center;
}

.cash-prize {
  padding: 0.5rem 0;
  color: #F6426D;
  font-size: 4rem;
}

.cash {
  color: #01B8A9;
  font-size: 4rem;
}

.btn-2 {
  background-color: #01B8A9;
  transition: 0.5s;
}

.btn-2:hover {
  background-color: #069185;
}

.btn-3 {
  width: 100%;
  margin: auto;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  main {
    display: block;
    margin: 2% 0;
  }

  .sci-1 {
    width: 316px;
    height: auto;
    margin: 0;
  }

  .content {
    padding: 1rem;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
  }

  .cash-prize {
    padding: 0;
    margin: 0;
    font-size: 2.3rem;
    font-family: sans-serif;
  }

  .prize h2 {
    font-size: 1.4rem;
  }

  .cash {
    font-size: 3rem;
  }

  .btn-3 {
    font-size: 1rem;
  }
}